@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #161616;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}


@font-face {
  font-family: MyLodon;
  src: url('./assets/fonts/Mylodon-Light.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@theme {
  --font-myLodon: MyLodon;

  --color-teal-10: #8ecae6;
  --color-teal-20: #72bebc;
  --color-teal-30: #5db5b2;
  --color-teal-40: #49aba9;
  --color-teal-50: #35A29F; /*main color */
  --color-teal-60: #30928f;
  --color-teal-70: #2a827f;
  --color-teal-80: #0b666a; /* main dark color */
  --color-teal-90: #20615f;

  --color-mint-10: #eafffb;
  --color-mint-20: #cbfff6;
  --color-mint-30: #acfef1;
  --color-mint-40: #a1feef;
  --color-mint-50: #97feed; /*main color*/
  --color-mint-60: #88e5d5;
  --color-mint-70: #79cbbe;
  --color-mint-80: #6ab2a6;
  --color-mint-90: #5b988e;
  --color-mint-100: #97feed;

  --color-navy-10: #838ca9;
  --color-navy-20: #6a7597;
  --color-navy-30: #394775;
  --color-navy-40: #203063;
  --color-navy-50: #071952; /*main color*/
  --color-navy-60: #06174a;
  --color-navy-70: #061442;
  --color-navy-80: #1d294c;
  --color-navy-90: #040d29;
  --color-navy-100: #020719;

  --color-dark-bg: #161616;
  --color-dark-bg-2: #242424;
  --color-dark-bg-3: #393939;
}
